---
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-red-300">Astro</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Rebuild it in Rust.
    </p>
  </main>
</Layout>
